@using UmbracoCmsLibrary.Models;
@inherits UmbracoViewPage<List<UmbracoCmsLibrary.Models.FeaturedItem>>
<div id="fh5co-featured-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                @*<a href="#" class="featured-grid" style="background-image: url(images/image_6.jpg);">
                        <div class="desc">
                            <h3>Work with love</h3>
                            <span>Web Design</span>
                        </div>
                    </a>*@
                @RenderFeatureItem(@Model[0],null)
            </div>


            <div class="col-md-6">
                @*<a href="#" class="featured-grid featured-grid-2" style="background-image: url(images/image_2.jpg);">
                        <div class="desc">
                            <h3>Music Lover</h3>
                            <span>Application</span>
                        </div>
                    </a>*@
                @RenderFeatureItem(@Model[1],"featured-grid-2")
                <div class="row">
                    <div class="col-md-6">
                        @*<a href="#" class="featured-grid featured-grid-2" style="background-image: url(images/image_3.jpg);">
                                <div class="desc">
                                    <h3>Travel</h3>
                                    <span>Illustration</span>
                                </div>
                            </a>*@
                        @RenderFeatureItem(@Model[2],"featured-grid-2")
                    </div>
                    <div class="col-md-6">
                        @*<a href="#" class="featured-grid featured-grid-2" style="background-image: url(images/image_8.jpg);">
                                <div class="desc">
                                    <h3>Captured</h3>
                                    <span>Photo</span>
                                </div>
                            </a>*@
                        @RenderFeatureItem(@Model[3],"featured-grid-2")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@helper RenderFeatureItem(FeaturedItem item, string extraClass)
{
    <a href="@item.LinkUrl" class="featured-grid @extraClass" style="background-image: url(@item.ImageUrl );">
        <div class="desc">
            <h3>@item.Name</h3>
            <span>@item.Category</span>
        </div>
    </a>
}